@import url('./animation.css');

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
}

.container .header_container {
  z-index: 10;
  position: relative;
}

.header {
  width: 100vw;
  height: 72px;
  border: 1px solid #6B6B6B;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border 0.5s;
  z-index: 1;
  background: black;
}

.header > div {
  margin: 0 80px;
}

.header .text {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.header .logo {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.header .hamburger {
  cursor: pointer;
}

.logo_text {
  transition: opacity 0.5s ease-in-out;
}

.menu_icon {
  transition: opacity 0.5s ease-in-out;
}

.menu {
  width: 100vw;
  height: calc(100vh - 72px);
  position: fixed;
  left: 0;
  top: 72px;
  background: rgba(0, 0, 0, 1);
  overflow: auto;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s linear;
  visibility: hidden;
  max-height: 0;
}

.menu .on {
  max-height: 100vh;
  visibility: visible;
  opacity: 1;
}

.menu .select_menu {
  padding-top: 150px;
  text-align: center;
  margin-bottom: 50px;
}

.menu .select_menu .subtitle {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 13px 27px;
  border-radius: 30px;
  border: 1px white solid;
}

.menu .select_menu .subtitle .select {
  color: #14E85C;
  font-size: 30px;
  font-family: "New York Italic", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.60px;
  word-wrap: break-word;
  margin-right: 10px;
}

.menu .select_menu .subtitle .and_go {
  color: #FFF;
  font-family: "SF Pro Expanded Regular", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

.menu .menu_list > div {
  text-align: center;
  margin-bottom: 5px;
  position: relative;
}

.menu .menu_list .menu_select .menu_wrapper {
  display: inline-block;
  vertical-align: top;
  width: fit-content;
  height: fit-content;
  text-align: center;
  cursor: pointer;
}

.menu .menu_list .menu_select .new_york {
  color: #FFF;
  font-family: "New York Italic", sans-serif;
  font-size: 104px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2.08px;
}

.menu .menu_list .menu_select .sf_pro {
  color: #FFF;
  font-family: "SF Pro Expanded Regular", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 410;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu .menu_list .menu_select .order {
  color: rgba(255, 255, 255, 0.82);
  font-family: "SF Pro Expanded Regular", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 410;
  line-height: 100%;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.menu .menu_list .menu_select .first_text {
  margin-right: 32px;
}

.menu .menu_list .menu_select .first_text_key {
  margin-right: 20px;
}

.menu .menu_list .menu_select .front_number {
  margin-right: 12px;
}

.menu .menu_list .menu_select .back_number {
  margin-left: 12px;
}

.menu_hover {
  color: #14E85C !important;
}

.menu_hover_front_under_line {
  position: absolute;
  bottom: 10px;
  width: 240px;
  height: 2px;
  background: linear-gradient(270deg, #14E85C 0%, #000 100%);
  margin-left: -8%;
}

.menu_hover_back_under_line {
  position: absolute;
  bottom: 10px;
  width: 240px;
  height: 2px;
  background: linear-gradient(90deg, #14E85C 0%, #000 100%);
}

.container .intro_container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
  top: 65px;
}

.intro_container .intro_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro_container .intro_text_overlay {
  position: absolute;
  top: 45%;
  left: 100%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  animation: flyInRightIntro 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
  white-space: nowrap;
}

.intro_container .intro_text_overlay .fly_in {
  display: inline-block;
}

.intro_container .intro_text_overlay .intro_range_rover {
  font-family: "SF Pro Expanded Semibold", sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}


.intro_container .car_text_overlay {
  position: absolute;
  top: 53%;
  left: -100%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  white-space: nowrap;
}

.fly_in {
  display: inline-block;
}

/* TODO 폰트 변경 필요 */
.intro_container .car_text_overlay .range_rover {
  font-family: "SF Pro Expanded bold", sans-serif;
  font-size: 80px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

.container .story_container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
  background-color: black;
  top: 65px;
}

.container .story_container .under_line {
  position: absolute;
  width: calc(100vw - 160px);
  height: 1px;
  background: #7C7C7C;
  top: 82%;
  left: 80px;
}

.container .story_container .since_text_overlay {
  position: absolute;
  top: 63%;
  left: -50%;
}

.container .story_container .since_text_overlay .since {
  color: rgba(20, 232, 92, 0.34);
  font-family: "New York", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.container .story_container .open_date_overlay {
  position: absolute;
  top: 63%;
  right: -30%;
}

.container .story_container .open_date_overlay .year {
  color: rgba(20, 232, 92, 0.34);
  font-family: "New York", sans-serif;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
}

.container .story_container .since_text_overlay .on {
  position: absolute;
  animation: flyInLeftOpenDate 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
  white-space: nowrap;
}

.container .story_container .since_text_overlay .off {
  position: absolute;
  animation: flyOutLeftOpenDate 1s forwards;
}

.container .story_container .open_date_overlay .on {
  position: absolute;
  animation: flyInRightOpenDate 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
  white-space: nowrap;
}

.container .story_container .open_date_overlay .off {
  position: absolute;
  animation: flyOutRightOpenDate 1s forwards;
}
